<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - SimpleBuild</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
	    background-color: #41d6b6
        }
    </style>
</head>
<body>
    <nav>
	<a href="{{ url_for('register') }}">REGISTER</a>
	<a href="{{ url_for('build') }}">BUILD</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
