{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %} Repo Register {% endblock %}</h1>
  <h3>Repo Register will connect a github repository</h3>
  <h3>To the SimpleBuildewr Application</h3>
  <h3>
  <form class="form-inline" method="POST" action="{{ url_for('dorecycle') }}"> 
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please git clone parameter (git@github.com:razrman/SimpleApp.git)</span>
	<form method="POST">
	<input name="text">
	<input type="submit">
	<\form>
    </div>
    <br>
    <button type="submit" class="btn btn-default" name="submit_button" value="recycle" onclick="return confirm('Are you sure you want to REGISTER?');">REGISTER</button>
    <button type="submit" class="btn btn-default" name="submit_button" value="checklog">CHECK LOG</button>
  </div>
  </h3>
</form>

{% endblock %}
