{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %} Repo Register {% endblock %}</h1>
  <h3>Repo Register will connect a github repository</h3>
  <h3>To the SimpleBuildewr Application</h3>
  <h3>
  <form class="form-inline" method="POST" action="{{ url_for('register_post') }}"> 
  <div class="form-group">
    <div class="input-group">
	    <span class="input-group-addon">Application to Register (SimpleApp for example)</span>
	<form method="POST">
	<input name="text">
	<input type="submit">
    </div>
    <br>
    <button type="submit" class="btn btn-default" name="submit_button" value="register" onclick="return confirm('Are you sure you want to REGISTER?');">REGISTER</button>
  </div>
  </h3>
</form>

{% endblock %}
